<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js INTRO</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

</head>
<body>

    <!-- SEZ 1 -->

        <div id="app">



            <!--APP CONTAINER -->
            <div class="background-container tahc">
                <div class="app container mrg-l">
            
                        <div class="col-4 sidebar">
                            <div class="top-bar tac">
                                <div class="top left tas">
                                    <div class="user-img"><img src="./img/avatar_1.jpg" alt=""></div>
                                    <div class="user-name"> <h6>Sergio</h6> </div>    
                                </div>
                                <div class="top right tae">
                                    <div class="stato col-3"><i class="fas fa-circle-notch"></i></div>
                                    <div class="new-chat col-3"><i class="fas fa-comment-alt"></i></div>
                                    <div class="menu col-3"><i class="fas fa-ellipsis-v"></i></div>
                                </div>
                            </div>

                            <div class="contacts-container">
                                <div class="text "><input v-model="ricerca" class="input-text" @keyup.enter="ricerca" type="text"></div>    
                                <div  class="contacts tacl" @click="updateIndex(index)" v-for="(parola, index) in contacts">
                                   <img :src="returnImg(index)" alt="picture">
                                   <div class="user">  {{parola.name}} </div>
                                </div>
                            </div>



                            
                        </div>
                        <div class="col-8 chat">
                            <div class="top-bar tac">
                                <div class="top left tas">
                                    <div v-if ="contactIndex > -1" class="user-img"><img src="./img/avatar_3.jpg" alt=""></div>
                                    <div v-if ="contactIndex > -1" class="user-name"> <h6>Nome Utente</h6> </div>    
                                </div>
                                <div class="top right tae">
                                    <div v-if ="contactIndex > -1" class="search col-1"><i class="fas fa-search"></i></i></div>
                                    <div v-if ="contactIndex > -1" class="allega col-1"><i class="fas fa-paperclip"></i></div>
                                    <div v-if ="contactIndex > -1" class="menu col-1"><i class="fas fa-ellipsis-v"></i></div>
                                </div>
                            </div>
                        
                            <div class="message-container">
                                <div class="core-chat">
                                    <div v-if ="contactIndex > -1">
                                        <div  :class="sentOrReceived(index)" v-for="(parola, index) in contacts[contactIndex].messages">
                                            <div class="msg">  {{parola.text}} <i class="fas fa-chevron-down" @click="removeMessage(index)"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div v-if ="contactIndex > -1" class="bottom-bar ">
                                    <div class="text "><i class="far fa-smile"></i><input v-model="userMessage" class="input-text" @keyup.enter="sendMessage" type="text"> <i class="fas fa-microphone"></i></div>    
                                </div>
                            </div>

                        </div>
                 </div>

                
            </div>



            <!-- <input id="newTaskElement" v-model="newTask" @keyup.enter="addTask" placeholder="Inserisci il nuovo task">
            <button @click="addTask">Aggiungi</button>

            <ul id="example-1">
                <div v-for="(parola, index) in todoList">
                    {{parola}} <i class="fas fa-backspace" @click="deleteTask(index)"></i>
            
                </div>
            </ul> -->
            
            <script src="js/script.js"></script>

 
</body>
</html>